<template>
  <div>
      <div class="column has-text-centered">
        <div class="title">Main Menu</div>

        <button class="button" @click="setup_connection" :disabled="$store.state.connection_status == false">{{$store.state.connection_status == false ? 'Waiting...' : 'Connect!'}}</button>
      </div>
  </div>
</template>
<script>
 export default {
   methods: {
     handle_message(msg) {
       this.$store.commit('handle_connection', msg)
     },
     setup_connection(){
       var connection = new WebSocket('wss://server.tactiks.io/')
       connection.onopen = () => {
         connection.onmessage = this.handle_message
         this.$store.commit('setup_connection', connection)
         connection.send(JSON.stringify({type:'enqueue'}))
       }
     },
   }
 }
</script>
<style>
</style>
