<template>
  <div id="app">
    <main-menu v-if="$store.state.game_state == 'mainmenu'"></main-menu>
    <deploy v-else-if="$store.state.game_state == 'deploy'"></deploy>
    <battle v-else-if="$store.state.game_state == 'battle'"></battle>
    <end v-else-if="$store.state.game_state == 'end'"></end>

    <br><br>
    <hr>
    <div class="has-text-centered">
      <button class="button" :class="{'is-primary': $store.state.guide}" @click="$store.commit('set_guide', !$store.state.guide)">Guide</button>
    </div>
    <div v-if="$store.state.guide" style="margin-left: 6em; margin-right: 6em;">
      <hr>
      <div class="subtitle has-text-centered">Guide</div>
      <div v-if="$store.state.game_state == 'mainmenu'">
        To play, simply press the "Connect!" button. You will be automatically connected to another player if there is one available, and put into a queue otherwise.
      </div>
      <div v-if="$store.state.game_state == 'deploy'">
        <div class="has-text-weight-bold has-text-centered">Designing units</div>
        First, you need to make your units. You get to design up to three different unit types, and have 30 points to spend for each, which you get to distribute between 3 stats: hitpoints, speed and attack. Hitpoints determines how many hits a unit can take, speed determines how far a unit can move each turn, and attack determines how much damage a unit deals.
        <br>You must spend all 30 available points. Furthermore, every unit type needs to have at least one point invested into hitpoints. Other than that, there are no requirements. Once you are done designing your units, press the "Finalize Units" button.
        <br>
        <br>
        <div class="has-text-weight-bold has-text-centered">Deploying your units</div>
        After both players have confirmed their unit types, you can then deploy 15 units. Click the buttons on the top to choose a unit to deploy, then click the grid squares to deploy them. Right-clicking on an occupied square will remove that unit. Player 2 gets one extra row to deploy their units.
        <br>You can see your enemy's unit's stats at the bottom; use this information to choose a better deployment.
        <br>When you are done, press the "Battle!" button. You can only continue once you have deployed all avialable units.
      </div>
      <div v-if="$store.state.game_state == 'battle'">
        <div class="has-text-weight-bold has-text-centered">Main game flow</div>
        Tactiks is a turn-based game. Every turn, a player gets to move and attack with their units. The game ends once a player runs out of units.
        <br><br>
        <div class="has-text-weight-bold has-text-centered">User Interface</div>
        The user interface consists of self-obvious information on you and your opponent, as well as the battlefield. Units on the battlefield are represented by four rows of information, from top to bottom:
        <div class="content">
          <ul>
            <li>Unit Name</li>
            <li>Effective Attack Power</li>
            <li>Remaining Health</li>
            <li>
              <ul>
                <li>Moves left</li>
                <li>Can Still Attack?</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="has-text-weight-bold has-text-centered">Controls</div>
        Click on one of your units to select it. Right click in the game area to deselect the current unit. Clicking on an empty tile will move your unit there, if it can. Clickin on an enemy unit will make your unit attack them, if it can. When you are done with your turn, press the "End Turn" button once you are done commanding your units.
        <br><br>
        <div class="has-text-weight-bold has-text-centered">Moving</div>
        Every turn, every unit is allowed to move an amount of tiles equal to their speed stat, with one exception: Player 1's unit can only move half as far (rounded up) on turn 1. Units can not move diagonally, only horizontally and vertically. A unit is not allowed to move from a tile adjacent to an enemy unit to another such tile. A unit <i>can</i> move after attacking, though!
        <br><br>
        <div class="has-text-weight-bold has-text-centered">Attacking</div>
        Once per turn, a unit can attack an enemy unit it is adjacent to. The enemy unit will take damage equal to your unit's attack stat times the fraction of your unit's remaining hitpoints, rounded to one decimal. Units will not receive any damage when attacking.
        <br><br>
        <div class="has-text-weight-bold has-text-centered">Death</div>
        A unit will disappear once it reaches 0 or lower hitpoints.

      </div>
      <div v-if="$store.state.game_state == 'end'">
      </div>

    </div>

    <hr>
    <button class="button" :class="{'is-primary':debug}" @click="debug = !debug">Debug</button>

    <div v-if="debug">
      <plaintext>
        {{debug_output}}
      </plaintext>
    </div>

  </div>
</template>

<script>
 import mainmenu from './components/MainMenu.vue'
 import deploy from './components/Deploy.vue'
 import battle from './components/Battle.vue'
 import end from './components/End.vue'
 export default {
   name: 'app',
   data(){
     return {
       debug: false,
       conn: null,
       peer: null,
       debug_string: 'no debug string'
     }
   },
   components: {
     'main-menu': mainmenu,
     'deploy': deploy,
     'battle': battle,
     'end': end
   },
   computed: {
     debug_output(){
       return JSON.stringify(this.$store.state, null, 2)
     }
   },
 }
</script>

<style lang="scss">
 .table td {
   border: 1px solid #000000 !important;
   background-clip: padding-box;
 }
 .battlefield table {
   overflow-x: scroll;
   width: 100%;
 }
 .battlefield td{
   width: 8.33%;
   position: relative;
 }
 .battlefield td:after {
   content: '';
   display: block;
   margin-top: 100%;
 }
 .battlefield td .content {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding: 0px;
 }

 .full-width {
   width: 100%;
 }

 .battlefield td .content-deploy {
   top: calc(50% - 0.5em);
 }

 .battlefield td .content-battle {
   top: calc(50% - 2em);
   line-height: 105%;
 }


</style>
